rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
    match /users/{userddd}/{document=**} {
       allow read, write: if
          request.auth.uid == userddd;
    }
    
    match /mail/{document=**} {
    
    allow read;
          allow update: if (request.resource.data.diff(resource.data).affectedKeys()
        .hasOnly(['correct', 'incorrect', 'saved',]));
    }
        match /guardian/{document=**} {
    
    allow read;
          allow update: if (request.resource.data.diff(resource.data).affectedKeys()
        .hasOnly(['correct', 'incorrect', 'saved',]));
    }
  }
}