

.game{
    padding-left: 1rem;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.game::-webkit-scrollbar {
    display: none;
  }

table {
    counter-reset: rowNumber;
    font-family: meri;
  }
  
  table tbody tr::before {
    display: table-cell;
    counter-increment: rowNumber;
    content: counter(rowNumber) ".";
    padding-right: 0.3em;
    text-align: right;
    vertical-align: middle;
  }

  tr{
      height: 2em;

  }
  tr:nth-child(even) {
      background: #CACACA}
  tr:nth-child(odd) {
      background: #f3f3f3}

thead tr th{
      background-color: var(--blue);
      color: white;
      border-left: none;
  }
  th{
    border-left: none;
  }