

.game{
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.game::-webkit-scrollbar {
    display: none;
  }
.paperbox{
  display: flex;
  justify-content: left;
}

  .paperbox button{
    border: none;
    font-size: 1.4rem;
    height: 2rem;
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-radius: 0.8rem;
    padding: 0.1rem 2rem;
    margin: 0.8rem 0.3rem 0.3rem 0.3rem;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.tclicked{
  background-color: var(--blue);
  color: var(--white);
}
.tnotclicked{
  background-color: var(--darkgrey);
  color: black;
}

table {
    counter-reset: rowNumber;
    font-family: meri;
  }
  
  table tbody tr::before {
    display: table-cell;
    counter-increment: rowNumber;
    content: counter(rowNumber) ".";
    padding-right: 0.3em;
    text-align: right;
    vertical-align: middle;
  }

  tr{
      height: 2em;

  }
  tr:nth-child(even) {
      background: #CACACA}
  tr:nth-child(odd) {
      background: #f3f3f3}

thead tr th{
      background-color: var(--blue);
      color: white;
      border-left: none;
  }
  th{
    border-left: none;
  }