/* header */

:root {
    --blue: #529ADC;
    --red: #f44336;
    --white: #ffffff;
    --darkgrey: #cecece;
    --lightgrey: #f3f3f3;
    --yellow: rgb(255, 235, 122);
    --orange: hsl(26,91%,60%);
    --green: #74db4f;
    --borderspace: 16px;
    --circwidth: 20px;
  }

  @font-face {
    font-family: ams;
    src: url(/AmstelvarAlpha-VF.ttf);
  }

  @font-face {
    font-family: meri;
    src: url(/Merriweather-Regular.ttf);
  }
  @font-face {
    font-family: meriL;
    src: url(/Merriweather-Light.ttf);
  }

*{
    margin: 0;
    padding: 0;
}
body{
    position: fixed;
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    height: 12%;
    top:0;
    background-color: var(--blue);
    position: relative;
    padding-bottom: 20px;

}
header:after {
    background: 
    linear-gradient(-45deg, #ffffff var(--borderspace), transparent 0),
     linear-gradient(45deg, #ffffff var(--borderspace), transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    
    background-size: calc(var(--borderspace)*2) calc(var(--borderspace)*2);
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: calc(var(--borderspace)*2);
}
header a{
    text-decoration: none;
}
h1{
    color: white;
    font-family: meriL,  'Times New Roman', Times, serif;

}

/* navbar */
nav{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    top: 25%;

}

nav ul{
    display: flex;
    justify-content: space-between;
    margin-right: 3%;
    flex-basis: 200px;
    list-style-type: none;
}
nav ul li{
    margin-right: 2%;

}
nav ul span{
    color: white;

}

/* SIGN IN */
.signbox{
    display: grid;
    position: absolute;
    z-index: 9001;
    right: 1%;
    top:60%;
    grid-template-columns: 2;
    background-color: var(--lightgrey);
    padding: 0.5rem;
    border-radius: 0.4rem;
    border-width: 3px;
    border-style: solid;
    border-color: var(--darkgrey);
     box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.27);
     transition: transform 300ms ease-out;
     transform: scale(0.0);
     transform-origin: top right;
     justify-content: center;
     text-align: center;
}
.signbox h3{
grid-column-start: 1;
grid-column-end: 3;
font-family: ams, Georgia, 'Times New Roman', Times, serif;

}
.signbox button{
    border: none;
    font-size: 1.4rem;
    height: 2rem;
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-radius: 0.8rem;
    padding: 0.1rem 2rem;
    margin: 0.8rem 0.3rem 0.3rem 0.3rem;
    text-transform: uppercase;
    cursor: pointer;
}

.signup{
    background-color: var(--blue);
    color: var(--white);
}
.signin{
    background-color: var(--darkgrey);
    color: black;
}


/* game container */
.container{
    position: fixed;
    max-width: 700px;
    left: 0;
    right: 0;
    margin: auto;
    height: 85%;
    width: 100%;
    bottom: 0;

}
.game{
position: absolute;
width: 100%;
height: 100%;
}

.papercontainer{
    position: absolute;
    width: 80%;
    height: 80%;
    left:10%;   
}

.paper{
    position: absolute;
    width: 92%;
    height: 68%;
    left:4%;
    z-index: 100;
    margin-top: 2rem;
}

.headliner{
    display: none;
    position: absolute;
    width: 92%;
    height: 68%;
    left:4%;
    z-index: 1000;
}

.scispath{
    cursor: pointer;
}


/* Headline */
.headline {
    position: absolute;
    width: 60%;
    height: auto;
    left: 20%;
    z-index: 1000;
    margin-top: 3rem;
}

.headlinetext{
    font-family: ams, Georgia, 'Times New Roman', Times, serif;
    font-variation-settings: 'wght' 625, 'wdth' 100;
    line-height: 1.4em;
    font-size: 2em;
    letter-spacing: 0px;
    color: #111;
}

/* Streak counter */

.scorecircle{
    position: absolute;
    top: 1%;
    right: 7vw;
    width: 3rem;
    height: 3rem;
    background-color: var(--blue);
    z-index: 900;
    border-radius: 50%;
    border-width: 2px;
    border-color: var(--lightgrey);
    border-style: dotted;
    display: grid;
    place-content: center;
    

}
.scorecircle div{
    font-size: 1.5em;
    font-family: Impact,  'Arial Narrow Bold', sans-serif;
    color: var(--lightgrey)
}

/* Buttons */

.buttons{
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1100;
    display: flex;
    justify-content: center;
}

.btnimg{
    width: 7em;
    height: 7em;
    cursor: pointer;

    z-index: 1100;
}

.mailimg{
    margin-right: 2rem;
}
.guardimg{
    margin-left: 2rem;
}

.btn{
    border-radius: 1em;
    background: none;
    border: none;
}


/* FLYING SCORES */

.flyer{
    display:block;
    position: absolute;
    left: 14%;
    bottom:20%;
    z-index: 3000;
    font-size: 1.5rem;
    transition: 2000ms ease-out;

}
.plusone{
    color: greenyellow;
}
.negone{
    color: red;
}

/* saved to articles message */
.added{
    position: absolute;
    bottom:30%;
    width: 60%;
    left:20%;
    padding: 0.3em 0px;
    z-index: 4000;
    display: none;
    place-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.27);
    border-radius: 0.4em;
    transition: opacity 500ms;
}

.added p{
    font-size: 1.2;
    font-family: meri, Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    opacity: 0.5;

}